# Python version requirement
# python_version >= "3.11"

git+https://github.com/openai/swarm.git
streamlit 
duckduckgo-search
requests
openai
gql
beautifulsoup4
apache-airflow
apache-airflow-providers-amazon
apache-airflow-providers-postgres
